{% import 'macros.j2' as macros -%}
{{ macros.header() }}
#pragma once

#include <gnuradio/{{blocktype}}.h>
#include <gnuradio/{{module}}/api.h>

{{ macros.includes(includes) }}

namespace gr {
namespace {{module}} {

{% if desc %}
{{ macros.description_block(desc, module) }}
{% endif %}
class {{module|upper}}_API {{block}} : virtual public gr::{{blocktype}}
{
public:
    typedef std::shared_ptr<{{block}}> sptr;

    {{ macros.make_statement(parameters) }}

    {{ macros.callbacks(callbacks) }}
};

} // namespace {{module}}
} // namespace gr
